{% extends "layout.html.twig" %}
{% block contenu %}
<form method="post" action="{{ path('Jeux.validFormAdd') }}">
    <div class="row">
        <fieldset>
            <legend>Creer un Jeux (twig)</legend>
            <label>Nom :
                <input name="nom"  type="text"  size="18" value="{{donnees.nom|default('')}}" />
                {% if erreurs.nom is defined %}
                    <small class="error">{{erreurs.nom}}</small>
                {% endif %}
            </label>
            <label>Type :
                <select name="typeJeux_id">
                    {% if  donnees.typeJeux_id is not defined or donnees.typeJeux_id is empty   %}
                        <option value="">Veuillez sélectionner un Jeux</option>
                    {% endif %}
                    {% for typeJeux in typeJeux %}
                        <option value="{{ typeJeux.id }}"
                                {% if donnees.typeJeux_id is defined and typeJeux.id == donnees.typeJeux_id %}selected{% endif %}>
                            {{ typeJeux.libelle }}
                        </option>
                    {% endfor %}
                    </select>
                {% if erreurs.typeJeux_id is defined %}
                    <small class="error">{{erreurs.typeJeux_id}}</small>
                {% endif %}
            </label>
            <label>Prix
                <input name="prix"  type="text"  size="18" 	value="{{donnees.prix|default('')}}"/>
                {% if erreurs.prix is defined %}
                    <small class="error">{{erreurs.prix}}</small>
                {% endif %}
            </label>
            <label>Photo
                <input name="photo"  type="text"  size="18" value="{{donnees.photo|default('')}}"/>
                {% if erreurs.photo is defined %}
                    <small class="error">{{erreurs.photo}}</small>
                {% endif %}
            </label>
            <label>Plateforme :
                <input name="plateforme"  type="text"  size="18" value="{{donnees.plateforme|default('')}}" />
                {% if erreurs.plateforme is defined %}
                    <small class="error">{{erreurs.plateforme}}</small>
                {% endif %}
            </label>
            <label>Dispo :
                <input name="dispo"  type="text"  size="18" 	value="{{donnees.dispo|default('')}}"/>
                {% if erreurs.dispo is defined %}
                    <small class="error">{{erreurs.dispo}}</small>
                {% endif %}
            </label>
            <label>Stock :
                <input name="stock"  type="text"  size="18" 	value="{{donnees.stock|default('')}}"/>
                {% if erreurs.stock is defined %}
                    <small class="error">{{erreurs.stock}}</small>
                {% endif %}
            </label>
            <input type="submit" name="creerJeux" value="créer" />
        </fieldset>
    </div>
</form>
{% endblock %}
