{% extends "layout.html.twig" %}
{% block contenu %}
	<div class="row">
		{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
		{% endif %}

		<table>
			<caption>Recapitulatifs des produits (avec twig)</caption>
			<thead>
			<tr><th>nom</th>><th>type</th><th>prix</th><th>plateforme</th><th>photo</th><th>stock</th><th>dispo</th><th>Ajouter au panier</th>
				{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
				{% endif %}
			</tr>
			</thead>
			<tbody>
			{% for Jeux in data if data is not empty %}

				<tr>
					<td>{{Jeux.nom}}</td><td>{{Jeux.libelle}}</td><td>{{Jeux.prix}}</td><td>
						{{Jeux.plateforme}}</td><td>
						<img style="width:40px;height:40px" src="{{asset('images/')}}{{Jeux.photo}}" alt="image de {{Jeux.libelle}}" >
					</td><td>
						{{Jeux.stock}}</td><td>
						{{Jeux.dispo}}</td>
					{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
					{% endif %}
					<td><a href="{{ path('Jeux.show') }}"> <img src={{asset('images/boutonajout.jpg')}} style="width:50px" ></a></td>
				</tr>
			{% endfor %}
			<tbody>
		</table>
	</div>
{% endblock %}

